*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    color: white;
    background: #1e293b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}


#home, #menu, #contact{
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    transition: 0.5s ease;
    background: transparent;
    border: 1px solid #ffffff80;
    user-select: none;
    height: 50px;
    margin: 30px;
}
#home:hover, #menu:hover, #contact:hover{
    background: #ffffff80;  
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
        0 0 100px #008cff;

}

.food-img{
    max-width: 800px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ffffff80;
    border-radius: 8px;
}

nav{
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    background-color: black;
    opacity: 0.8;
    width: 100vw;

}